<html>
  <body>
    <link rel="stylesheet" href="./styles.css" />
    <div class="container">
    <div id="heart"></div>

    <h1>Miss You</h1>
    <div class="gap">
    <div class="messages">
      <% messages.forEach((message)=>{ %>
      <div class="box">
        <ul>
          <li><%= message.text %></li>
          <li>To: <%= message.user %></li>
          <li>Date: <%= message.added %></li>
        </ul>
        <div class="buttons">
          <a href="/letter/<%= message._id %>">
            <button>Open</button>
          </a>
          <a href="/delete/<%= message._id %>">
            <button>Delete</button>
          </a>
          <a href="/update/<%= message._id %>">
            <button>Update</button>
          </a>
        </div>
       
      </div>
      <% }) %>
    </div>
    <a href="/new">
      <button>New</button>
    </a>
  </div>
  </body>
</div>
</html>
